<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
 <div class="container">
     <h2>Login</h2>
<form action="/login" method="POST" class="mt-4">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            placeholder="Enter username" 
            required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter password" 
            required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
 </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>
